
.form-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100vh;
    margin: auto; 
    background-color: #f4f4f4; 

}


.form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid rgb(59, 130, 246);
    border-radius: 20px;
}

.form-img {
    display: flex;
    padding: 0;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 20px; /* Adiciona margem na parte inferior da imagem */
}


.form-legend {
    margin-bottom: 15px;
    font-size: 24px;
}


.form-label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold; 
}


.form-input {
    border: 2px solid rgb(59, 130, 246);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease; 
}

.form-input:focus,
.form-input:hover {
    border-color: #333; 
    outline: none; 
}



.btn-login {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(59, 130, 246);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.form .btn-login:hover {
    background-color: #265599; 
}

