@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

@layer components {
  .btn-login-cabecalho {
    @apply border-4 rounded-lg border-cyan-500  text-cyan-500 shadow-sm p-2 px-8 m-5 hover:bg-cyan-500 hover:text-white transition-all 
  }
  .link-cabecalho {
    @apply flex justify-end mx-10 p-2 hover:bg-cyan-500 transition-all duration-500 ease-out rounded font-bold
  }

  .section-sobre {
    background-image: url(/img/banner-ciclista.jpg);
    background-size: cover;
    background-position: 15%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .section-itens {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  .section-txt {
    background-color: rgba(255, 255, 255, 0.753);
    width: 534px;
    height: 348px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.144);
    padding: 20px 15px 0px 15px;

    
  }
    & h2 {
      color:rgb(82, 79, 79);
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 12px;
    }

  
  .section2 {
    width: 100%;
    height: 500px;
    background-color: white;

  }

  .section2-cards{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .card-integrante {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(66, 210, 247);
    width: 230px;
    height: 330px;
    border-radius: 15px;
    padding-top: 45px;

  }
  
  .card-img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin-bottom: 35px;
  }

}
